<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
	<session-factory>
	    
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/skatespots</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">false</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping class="domain.User"/>
		<mapping class="domain.Board"/>
		<mapping class="domain.Spot"/>
		<mapping class="domain.SpotPicture"/>
		<mapping class="domain.Comment"/>
		<mapping class="domain.CheckIn"/>
										

	</session-factory>
</hibernate-configuration>